*{
    background-color: #544D4D;
    color: white;
}

div > h1 > .title{
    color: white;
}

.grid-container{
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}  

Input{
    min-width: 300px;
    font-size: 16px;
    margin: 10px 0px;
    height: 35px;
    border: solid white 1px;
    border-radius: 5px;
}

Input::placeholder {
    font-style: italic;
  }

.button-main{
    color: black;
    font-size: 20px;
    min-width: 304px;
    height: 43px;
    border-radius: 5px;
    margin: 20px 0px;
}
