.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.title-menu {
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 180px;
    font-family: verdana;
}
/* .button-menu {
    background-color:#544D4D;
    width: 200px;
    height: 40px;
    border: 2px solid white;
   
    
} */
.button-breakfast-day {
    background-color: #544D4D;
    width: 200px;
    height: 40px;
    color: white;
    border: 2px solid white;
    margin: 0 15px;
    border-radius: none;
}
.button-breakfast-day:hover {
    background-color: black;
    transition: 1s;

}


/*HEADER*/
.icon-back{
    width: 25px;
}

.logo-pequena{
    width: 60px;
}

.section-header{
    display: flex;
    flex-direction: column;
}

.logo-and-iconback{
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin: 30px 0px 10px 0px;

}
.titulo{
    text-align: center;
    font-weight: normal;
}
