/*HEADER*/
.icon-back{
    width: 25px;
}
.logo-pequena{
    width: 60px;
}
.section-header{
    display: flex;
    flex-direction: column;
}
.logo-and-iconback{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px 0px 10px 0px;
}
.titulo{
    text-align: center;
    font-weight: normal;
}

.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.title-menu {
    color: white;
    font-family: verdana;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
    
}
.button-breakfast-day {
    background-color: #544D4D;
    width: 200px;
    height: 40px;
    color: white;
    font-family: verdana;
    font-size: 18px;
    border: 2px solid white;
    border-radius: 3px;
    cursor: pointer;
}
.button-breakfast-day:hover {
    background-color: black;
    transition: 1s;
}


.produtos-relacionados {
    font-size: 18px;
    font-family: verdana;
    color: white;
}
.produtos-relacionados ul {
    list-style-type: none;
    padding: 0;
}
.produtos-relacionados li {
    border-bottom:1px solid black;
    padding: 10px;
}
.produto-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.produto-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-right: 80px;
}
.produto-nome {
    display: flex;
    justify-content: space-between;
}
.produto-preco {
    display: flex;
    justify-content: space-between;
}
.produtos-relacionados button {
    background-color: white;
    color: black;
    width: 40px;
    height: 40px;
    border: none;
    /* clip-path: ellipse(50% 30%); */
    border-radius: 10px;
    cursor: pointer;
}
.btn-quantidade {
    display: flex;
    gap: 15px;
    margin-left: 80px;
}

