.title-resumo {
    font-family: verdana;
    font-weight: bold;
    text-align: center;
}
.box-resumo {
    width: 300px;
    height: 350px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    text-align: center;
    margin: auto;
    flex-direction: column
}
.box-resumo > p {
    color: black;
    text-align: left;
    align-items: left;
    margin-left: 20px;
    font-family: verdana;
    font-size: 18px;
}
.box-resumo > h1 {
    color: black;
    font-weight: bold;
    font-size: 20px;
    font-family: verdana;
    text-align: left;
    margin-left: 18px;
}
.box-resumo > h2 {
    color: black;
    font-weight: bold;
    font-size: 20px;
    font-family: verdana;
    text-align: left;
    margin-left: 18px;
}
.box-resumo > h3 {
    color: black;
    font-weight: bold;
    font-size: 20px;
    font-family: verdana;
    text-align: left;
    margin-left: 18px;
}
.btn-voltar > .button-voltar {
    position: relative; /* ou absolute, dependendo do contexto */
    width: 300px;
    height: 60px;
    margin: 0 auto; /* Centraliza horizontalmente */
    background: #000000;
    border: none;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    margin-bottom: 20px;
    margin-top: 20px;
}
.btn-voltar > .button-voltar > .link-voltar {
    text-decoration: none;
    color: white;
    font-family: verdana;
    font-size: 20px;
    font-weight: bold;
}
.btn-enviar {
    position: relative;
    width: 300px;
    height: 60px;
    margin: 0 auto; /* Centraliza horizontalmente */
    background: #FF7D7D;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    border: none;
    font-size: 20px;
    font-family: verdana;
}
  