.title-resumo {
    color: white;
    font-size: 50px;
    text-align: center;
}

.logo-burger {
    margin-bottom: 50px;
    width: 250px;
    height: 250px;
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}  

Input{
    min-width: 300px;
    font-size: 16px;
    margin: 10px 0px;
    height: 35px;
    border: solid white 1px;
}

.box-resumo {
  width: 200px;
  height: 200px;
  background-color: white;
  border: 1px solid white;
  text-align: center;
}
